<template id="">
    <div class="">
      <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Eliminar proceso</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Confirme la eliminacion del proceso</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" @click='deleteProcess' class="btn btn-danger">Eliminar proceso</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
  export default {
      mounted() {
        $('#delete-modal').modal('show');
        $('#delete-modal').on('hidden.bs.modal', e => {
          this.$router.push('/')
        })
      },
      data:function(){
        return {
          'error':null,
          'errors':{}
        }
      },
      methods:{
        deleteProcess:function(){
          axios.delete('/process/' + this.$route.params.id)
          .then( response => {
            if(response.data.status == 'ok'){
              this.flash('Proceso ' + this.$route.params.id + ' eliminado', 'success', {
                timeout: 3000,
              });
              this.$events.emit('new-process', response.data.data);
              $('#delete-modal').modal('hide');
            }
          })
          .catch(error => {
            this.$router.push('/')
          })
        }
      },
  }
</script>
