<template id="">
    <div class="">
      <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Editar proceso numero {{process.id}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div v-if="errort" class="alert alert-danger" role="alert">
                {{errort}}
              </div>
              <div class="form-group">
                <label for="description">Descripción</label>
                <textarea id="description" v-bind:class="{ 'is-invalid': errors.description }" v-model="process.description" class="form-control" rows="4" cols="80"></textarea>
                <div v-if="errors.description" class="invalid-feedback">
                  {{errors.description[0]}}
                </div>
              </div>
              <div class="form-group">
                <label for="sede">Sede</label>
                <select v-model="process.sede" class="form-control" id="sede">
                  <option value="bogota" selected>Bogotá</option>
                  <option value="mexico">México</option>
                  <option value="peru">Peru</option>
                </select>
              </div>
              <div class="form-group">
                <label for="sede">Presupuesto</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">COP</div>
                  </div>
                  <input v-model="process.budget" v-bind:class="{ 'is-invalid': errors.budget }" type="number" class="form-control" id="inlineFormInputGroup" placeholder="Presupuesto">
                  <div v-if="errors.budget" class="invalid-feedback">
                    {{errors.budget[0]}}
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" @click="saveProcess">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
  export default {
      mounted() {
        this.getProcess()
        $('#edit-modal').on('hidden.bs.modal', e => {
          this.$router.push('/')
        })
      },
      data:function(){
        return {
          'process':{
            'sede':'bogota'
          },
          'errort':null,
          'errors':{}
        }
      },
      methods:{
        getProcess:function(){
          axios.get('/process/' + this.$route.params.id)
          .then( response => {
              this.process = response.data;
              $('#edit-modal').modal('show');
          })
          .catch(error => {
            this.$router.push('/')
          })
        },
        saveProcess:function(){
          axios.put('/process/' + this.$route.params.id, this.process)
          .then( response => {
            if(response.data.status == 'ok'){
              this.flash('Proceso ' + this.$route.params.id + ' editado con exito' , 'success', {
                timeout: 3000,
              });
              this.$events.emit('new-process', response.data.data);
              $('#edit-modal').modal('hide');
            }
          })
          .catch(error => {
            this.errort = 'Algunos datos son invalidos';
            this.errors = error.response.data.errors;
          })
        }
      },
  }
</script>
