<template>
  <div class="">
    <div class="card card-default">
        <div class="card-header">
          Procesos
          <div class="btn-group float-right" role="group" aria-label="Basic example">
            <router-link to="/search" tag="button" class='btn btn-sm btn-primary'>
              Buscar
            </router-link>
            <router-link to="/new" tag="button" class='btn btn-sm btn-primary'>
              Nuevo proceso
            </router-link>
          </div>
        </div>
        <div class="card-body process">
          <table class="table table-bordered table-striped table-hover table-sm custom-table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha creación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for='process in laravelData.data'>
                    <th scope="row">{{process.id}}</th>
                    <td>{{process.description.substring(0,50)}}...</td>
                    <td class="w-25">{{process.created_at}}
                      <span class='float-right'>
                        <div class="dropdown">
                          <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <router-link :to="{name:'view', params:{'id':process.id}}">
                              <a class="dropdown-item" href="#">
                                <span class="glyphicon glyphicon-eye-open"></span> Ver
                              </a>
                            </router-link>
                            <router-link :to="{name:'edit', params:{'id':process.id}}">
                              <a class="dropdown-item" href="#">Editar</a>
                            </router-link>
                            <router-link :to="{name:'delete', params:{'id':process.id}}">
                              <a class="dropdown-item" href="#">Eliminar</a>
                            </router-link>
                          </div>
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr v-if="!laravelData.data.length">
                    <td colspan="3" class="text-center">No hay procesos registrados.</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <pagination :data="laravelData" @pagination-change-page="getProcess">
              <span slot="prev-nav">&lt; Anterior</span>
	            <span slot="next-nav">Siguiente &gt;</span>
            </pagination>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
    export default {
      mounted() {
        this.getProcess();
        this.$events.listen('new-process', eventData => this.newProcessAdd(eventData));
        this.$events.listen('search-process', eventData => this.searchResult(eventData));
      },
      data:function(){
        return {
          'laravelData':{
            'data':[]
          },
        }
      },
      methods:{
        getProcess:function(page = 1){
          axios.get('/process?page=' + page)
          .then( response => {
            this.laravelData = response.data;
          })
          .catch(function (error) {
          })
        },
        newProcessAdd:function(process){
          this.getProcess()
        },
        searchResult:function(processes){
          this.laravelData = processes;
        }
      },
      components:{
        'pagination':require('laravel-vue-pagination')
      }
    }
</script>
<style media="screen">
  .process{
    padding:0;
  }
  .custom-table{
    margin-bottom: 0;
  }
</style>
