<template>
    <div class="container">
        <flash-message class="myCustomClass"></flash-message>
        <div class="row justify-content-center">
            <div class="col-md-12">
              <table-process></table-process>
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    require('vue-flash-message/dist/vue-flash-message.min.css');
    export default {
        mounted() {
        },
        data:function(){
          return {}
        },
        methods:{
        },
        components:{
          'table-process':require('./ProcessTableComponent.vue'),
        }
    }
</script>
