<template id="">
    <div class="">
      <div class="modal fade" id="search-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Buscar Proceso</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="description">Descripción</label>
                <textarea id="description" v-model="process.description" class="form-control" rows="4" cols="80"></textarea>
              </div>
              <div class="form-group">
                <label for="sede">Sede</label>
                <select v-model="process.sede" class="form-control" id="sede">
                  <option value="">todas</option>
                  <option value="bogota" selected>Bogotá</option>
                  <option value="mexico">México</option>
                  <option value="peru">Peru</option>
                </select>
              </div>
              <div class="form-group">
                <label for="sede">Fecha de creacion</label>
                <div class="input-group mb-2">
                  <input v-model="process.date" type="date" class="form-control" id="inlineFormInputGroup" placeholder="Presupuesto">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" @click="searchProcess">Buscar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
  export default {
      mounted() {
        $('#search-modal').modal('show');
        $('#search-modal').on('hidden.bs.modal', e => {
          this.$router.push('/')
        })
      },
      data:function(){
        return {
          'process':{
            'sede': ''
          },
          'error':null,
          'errors':{}
        }
      },
      methods:{
        searchProcess:function(){
          axios.post('/process/search', this.process)
          .then( response => {
            this.$events.emit('search-process', response.data);
            $('#search-modal').modal('hide');
          })
          .catch(error => {
            this.errors = error.response.data.errors;
          })
        }
      },
  }
</script>
