<template id="">
    <div class="">
      <div class="modal fade" id="view-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Proceso numero {{process.id}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <b>Fecha de creación:</b>
              <p>{{process.created_at}}</p>
              <b>Descripción:</b>
              <p>{{process.description}}</p>
              <b>Sede:</b>
              <p>{{getProcessSede(process.sede)}}</p>
              <div v-if="process.budget" class="">
                  <b>Presupuesto en COP:</b>
                  <p>{{process.budget}}$</p>
                  <b>Presupuesto en USD:</b>
                  <p>{{process.usd_budget}}$</p>
              </div>
              <div v-else>
                <div class="alert alert-info" role="alert">
                  No se ha ingresado Presupuesto para este proceso
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>
    export default {
        mounted(){
          this.getProcess()
          $('#view-modal').on('hidden.bs.modal', e => {
          this.$router.push('/')
        })
      },
      data:function(){
        return {
          'process':{},
        }
      },
      methods:{
        getProcess:function(){
          axios.get('/process/' + this.$route.params.id)
          .then( response => {
              this.process = response.data;
              $('#view-modal').modal('show');
          })
          .catch(error => {
            this.$router.push('/')
          })
        },
        getProcessSede:function(sede){
            let sedes = {
              'bogota':'Bogotá',
              'mexico':'México',
              'peru':'Peru'
            };

            return sedes[sede];
        }
     }
  }
</script>
